//
//
// user.scss
//
// Place your own theme CSS or SCSS rules below this line, these rules will override any Bootstrap and theme variables.
.w-60 {
  width: 60px;
}

.clickable-icon {
  cursor: pointer;
  &:hover {
    color: #758192;
    background-color: #dce2f3;
  }
}

.no-resize {
  resize: none;
}

.collab-comment-box {
  padding-left: 5px;
  padding-right: 5px;
  font-size: 13px;
  border-radius: 2px;
  border: 2px solid $collab-green;
}
