//
//
// user.scss
//
// Place your own theme CSS or SCSS rules below this line, these rules will override any Bootstrap and theme variables.
@import 'switch';

.w-60 {
  width: 60px;
}
.min-w-60 {
  min-width: 60px;
}

.max-w-245 {
  max-width: 245px;
}

.w-40 {
  width: 40px;
}

.h-55 {
  height: 55px;
}

.mt--25 {
  margin-top: -25px;
}

.clickable-icon {
  cursor: pointer;
  &:hover {
    color: #758192;
    background-color: #dce2f3;
  }
}

.no-resize {
  resize: none;
}

.collab-comment-box {
  padding-left: 5px;
  padding-right: 5px;
  font-size: 13px;
  border-radius: 2px;
  border: 2px solid $collab-green;
}

.collab-sauce-range-slider {
  // turn off arrows inside input field

  /* Chrome, Safari, Edge, Opera */
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
  }
}

.collab-toolbar-tooltip {
  font-size: 10px;
  padding: 0.5rem 0rem;
  width: 50px;
}

.top-right {
  top: 0px;
  right: 0px;
}

.kanban-override {
  max-height: inherit;
  padding-left: 0px;
  padding-right: 0px;
  background-color: $gray-200;
}

.cursor-default {
  cursor: default;
}
