//
//
// user.scss
//
// Place your own theme CSS or SCSS rules below this line, these rules will override any Bootstrap and theme variables.
@import 'switch';

.w-60 {
  width: 60px;
}

.min-h-25 {
  min-height: 25px;
}

.min-h-30 {
  min-height: 30px;
}

.min-h-36 {
  min-height: 36px;
}

.min-w-60 {
  min-width: 60px;
}

.max-h-30 {
  max-height: 30px;
}

.max-w-245 {
  max-width: 245px;
}

.max-w-260 {
  max-width: 260px;
}

.w-40 {
  width: 40px;
}

.mt--25 {
  margin-top: -25px;
}

.clickable-icon {
  cursor: pointer;
  &:hover {
    color: #758192;
    background-color: #dce2f3;
  }
}

.no-resize {
  resize: none;
}

.collab-comment-box {
  font-size: 13px;
  border-radius: 2px;
  border: 2px solid $collab-green;
}

.collab-sauce-range-slider {
  // turn off arrows inside input field

  /* Chrome, Safari, Edge, Opera */
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
  }
}

.collab-toolbar-tooltip {
  font-size: 10px;
  padding: 0.5rem 0rem;
  width: 50px;
}

.top-right {
  top: 0px;
  right: 0px;
}

.kanban-override {
  max-height: inherit;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  background-color: $gray-200;
}

.cursor-default {
  cursor: default;
}

.screenshot-img-overlay {
  background-color: $gray-400;
  opacity: 0.4;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  &:hover {
    opacity: 0.7;
  }
}

.color-inherit {
  color: inherit;
  &:hover {
    color: inherit;
  }
}

.background-color-inherit {
  background-color: inherit;
  &:hover {
    background-color: inherit;
  }
}

.logo-sauce-text-auth {
  margin-top: -9px;
}
