.App {
  text-align: center;
}

.App-body {
  /*background-color: #282c34;*/
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /*color: white;*/
}

.App-link {
  /*color: #61dafb;*/
}

.toolbar {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 250px;
  bottom: 0px;
  cursor: initial;
  background-color: grey;
  overflow-y: auto;
  /* same zIndex that intercom uses */
  z-index: 2147483647;
}

.__outline__ {
  outline: 2px solid #6585FF !important;
  /*cursor: url(img/target.png) 12 12, auto !important;*/
}

.__outline__:active {
  outline: 2px solid red !important;
}

.__special-cursor__ {
  cursor: crosshair;
}

a {
 cursor: crosshair;
}

.draggableTarget {
  cursor: move;
}
